

    


#head{
    
    
    overflow: hidden;
    top:0;
    position: fixed;
    width:100%;
    background-color:white;
    
    border-color: black;
    font-size: inherit;
    
    
    
    
    
}


#nav{
    float:right;
    top:0;
    padding-right: 2.5%;
    text-decoration-color: black;
    
    
}
nav a{
    padding: 20px;
    text-decoration: none;
    
}
nav a:hover{
    text-decoration: underline;
    text-decoration-color: grey;
}












#gridContainer {
    padding-top: 12rem;
    
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "main-editorial grid-editorial editorial-third"
      "third-headshot grid-headshot main-headshot"
      "main-personal grid-personal third-personal"
      "third-streetstyle grid-streetstyle main-streetstyle"
      "bio bio contact-form"
      "logo instagram-links instagram-links";
  }
  #text{
    text-align: center;
}
#gridContainer>section>img{
    object-fit: cover;
    height:auto;
    display:block;
}
  
  #text{
      text-align: center;
  }
  #gridContainer>section>img{
      object-fit: cover;
      height:auto;
      display:block;
  }
  
  #grid-headshot { grid-area: grid-headshot; }
  
  #main-headshot { grid-area: main-headshot; }
  #third-headshot{
      
    grid-area:third-headshot;
    
    
  }
  
  #main-personal { grid-area: main-personal; }
  
  #grid-personal { grid-area: grid-personal; }
  #third-personal{
    grid-area:third-personal;
   
  }
  
  #grid-streetstyle { grid-area: grid-streetstyle; }
  
  #main-streetstyle { grid-area: main-streetstyle; }
  #third-streetstyle{
    grid-area:third-streetstyle;
    
      
  }
  
  #bio { 
    grid-area: bio; 
    padding-top:4rem;
    padding-right:7rem;
   
   

    
  }
  h1{
      font-size:2rem;
  }
  
  
  #contact-form { 
    grid-area: contact-form;
    padding-top:4rem;
    }
  
  #logo { 
    grid-area: logo;
    
     }

     #logo>img{
         zoom:110%;
     }
  
  #instagram-links { 
    grid-area: instagram-links;
     }
  
  
  
  #image-photo { grid-area: image-photo;
object-fit: fill; 
zoom:170%}

  
   /*not sure on the grid idea yet....*/ 

  #gridContainer>section>img{
    max-width: 100%;
    object-fit: cover;
  
    
  }



#h2-link{
  
    
    
    background-color: rgba(216, 216, 205, 0.863);
 
    padding:60% 45%;
}


#hover-grid{
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  
}
#grid-editorial:hover{
    opacity: 1;
}
#map{
    width:400px;
    height:300px;
    
}

@media (max-width:550px){
    

    #gridContainer{
        display:grid;
        grid-template-columns: 100%;
        
        grid-template-areas:
    "grid-editorial"
    "grid-headshot"
    "grid-personal"
    "grid-streetstyle"
    "bio"
    "contact-form"
    "logo"
    "instagram-links"
    ;
      


       




    }
    #head{
    
    
        overflow: hidden;
        top:0;
        position: fixed;
        width:100%;
        background-color:white;
        
        border-color: black;
        font-size: inherit;
        
        
        
        
        
    }
    
    
    #nav{
        
        top:0;
        padding-right: 2.5%;
        text-decoration-color: black;
        width:100%;
        text-align: center;
        
        
    }
    nav a{
        
        text-decoration: none;
        
    }
    nav a:hover{
        text-decoration: underline;
        text-decoration-color: grey;
    }
    h2{
        text-align: center;
    }
    #main-editorial { grid-area: main-editorial; }
  
    #grid-editorial { grid-area: grid-editorial; }
    #editorial-link{
      grid-area:editorial-link;
      
  
    }
    #gridContainer>section>img{
        object-fit: cover;
    }
    
    #grid-headshot { grid-area: grid-headshot; }
    
    #main-headshot { grid-area: main-headshot; }
    #headshot-link{
        
      grid-area:headshot-link;
      
      
    }
    
    #main-personal { grid-area: main-personal; }
    
    #grid-personal { grid-area: grid-personal; }
    #personal-link{
      grid-area:personal-link;
     
    }
    
    #grid-streetstyle { grid-area: grid-streetstyle; }
    
    #main-streetstyle { grid-area: main-streetstyle; }
    #street-link{
      grid-area:street-link;
      
        
    }
    
    #bio { 
      grid-area: bio; 
      padding-top:15%;
      padding-bottom: 15%;
      width:100%;
  
      
    }
   
    
    
    #contact-form { 
      grid-area: contact-form;
      }
    #textarea{
        width:100%;
    }
    #map{
        width:100%;
    }
    
    #logo { 
      grid-area: logo;
       }
    
    #instagram-links { 
      grid-area: instagram-links;
       }
    
    
    
    
  #gridContainer>section>img{
    object-fit: cover;
}

}
    



