

#head{
    
    
    overflow: hidden;
    top:0;
    position: fixed;
    width:100%;
    background-color:white;
    border-bottom: 10px;
    border-color: black;
    font-size: 25px;
    
    
    
    
}

#nav{
    float:right;
    top:0;
    padding-right: 2.5%;
    
}
nav a{
    padding:20px;
}











#gridContainer {
    margin-top:10%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "main-editorial grid-editorial editorial-link"
      "headshot-link grid-headshot main-headshot"
      "main-personal grid-personal personal-link"
      "street-link grid-streetstyle main-streetstyle"
      "bio bio image-photo"
      "contact-form logo instagram-links";
  }
  
  #main-editorial { grid-area: main-editorial; }
  
  #grid-editorial { grid-area: grid-editorial; }
  #editorial-link{
    grid-area:editorial-link;
    

  }
  #gridContainer>section>img{
      object-fit: cover;
  }
  
  #grid-headshot { grid-area: grid-headshot; }
  
  #main-headshot { grid-area: main-headshot; }
  #headshot-link{
      
    grid-area:headshot-link;
    
    
  }
  
  #main-personal { grid-area: main-personal; }
  
  #grid-personal { grid-area: grid-personal; }
  #personal-link{
    grid-area:personal-link;
   
  }
  
  #grid-streetstyle { grid-area: grid-streetstyle; }
  
  #main-streetstyle { grid-area: main-streetstyle; }
  #street-link{
    grid-area:street-link;
    
      
  }
  
  #bio { 
    grid-area: bio; 
    padding-top:15%;
    padding-bottom: 15%;

    
  }
  h1{
      font-size:200%;
  }
  
  
  #contact-form { 
    grid-area: contact-form;
    }
  
  #logo { 
    grid-area: logo;
     }
  
  #instagram-links { 
    grid-area: instagram-links;
     }
  
  
  
  #image-photo { grid-area: image-photo;
object-fit: fill; 
zoom:170%}
  
   /*not sure on the grid idea yet....*/ 

  #gridContainer>section>img{
    max-width: 100%;
    object-fit: cover;
  
    
  }



#h2-link{
  
    
    
    background-color: rgba(216, 216, 205, 0.863);
 
    padding:60% 45%;
}
@media screen {min
    
}


